<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body <% if(gameID !== null) {%>data-game-id="<%=gameID%>"<%}%> <% if(ID !== null) {%>data-my-id="<%=ID%>"<%}%>>
<h1 id="peer">Loading ID....</h1>
<div class="map" id="map">
    <div class="map-content">
    </div>
</div>
<div id="message-wrapper">
    <h3>Chat</h3>
    <p id="messages"></p>
    <input type="text" id="chat" placeholder="Enter message here..." onkeypress="sendMessage(event)">
</div>
<div id="bottom-bar">
    <button onclick="generateNewChip()">Add New Chip</button>
    <label for="send-id">Game ID: </label><input type="text" id="send-id" onkeypress="if (event.keyCode === 13) {matchmaking.newConnection(this.value, con)}">
</div>
<script src="/js/peer.js"></script>
<script src="/js/game.js"></script>
</body>
</html>
