html, body, h1, input, select {
    font-family: Roboto,arial,sans-serif;
}

.map {
    position: absolute;
    width: 80vh;
    height: 80vh;
    overflow: scroll;
    z-index: 2;
    cursor: grab;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border: black solid 2px;
    border-radius: 10px;
}
.map::-webkit-scrollbar {
    display: none;
}
.map-content {
    width: 2000px;
    height: 2000px;
    background-size: 100px 100px;
    background-image:
            linear-gradient(to right, grey 1px, transparent 1px),
            linear-gradient(to bottom, grey 1px, transparent 1px);
}
.chip {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: solid;
}

#message-wrapper {
    position: absolute;
    margin-top: 0;
    padding: 15px;
    left: 85vh;
    width: 25vw;
    height: 77vh;
    overflow: auto;
    border: black solid 2px;
    border-radius: 10px;
    overflow-x: hidden;
}

#message-wrapper > h3 {
    margin-top: 0;
}

#chat {
    position: absolute;
    bottom: 0px;
    left: -1px;
    width: 95%;
    height: 1vh;
    padding: 20px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#bottom-bar {
    position: absolute;
    top: 91vh;
}

button {
    background: antiquewhite;
    border: gray solid 2px;
    border-radius: 10px;
    min-width: 120px;
    height: 50px;
    cursor: pointer;
}

button:hover {
    background: lightblue;
}

#bottom-bar > input[type="text"] {
    height: 50px;
    border: gray solid 2px;
    border-radius: 10px;
}